.DS_Store
.idea/.name
.idea/.name
.idea/misc.xml
.idea/pruefungsleistung.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/pruefungsleistung.iml
.idea/workspace.xml
.idea/misc.xml
.idea/pruefungsleistung.iml
.idea/workspace.xml
